<body id="top">
    <div class="row">
        <div class="hero">
            <p> Your destination is just the <span>beginning</span>. Share with us your <span>journey</span>,
                because that's where the <span>magic</span> happens <i class="bi bi-stars"></i></p>
        </div>
        <section class="sub-hero">
            <div class="intro">
                <p> Join us to</p>
                <h1> Discover the Possibilities of Uberly</h1>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="cards">
                        <i class="bi bi-share-fill"></i>
                        <h3>Share about your Upcoming Travels</h3>
                        <p class="cards-p">Post updates and photos, along with tags, to inspire fellow
                            adventurers and
                            allow them to choose what they want to see!</p>
                    </div>
                    <div class="photos">
                        <img src="../../../assets/img/img3.png" alt="">
                        <img src="../../../assets/img/img7.png" alt="">
                    </div>
                    <div class="cards">
                        <i class="bi bi-chat-left-dots"></i>
                        <h3>Interact & Plan with Others</h3>
                        <p class="cards-p">Connect with fellow members and organize your next adventure together. <br>
                            The more people, the better!
                        </p>
                    </div>

                    <div class="photos">
                        <img src="../../../assets/img/img8.png" alt="">
                        <img src="../../../assets/img/img4.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="photos">
                        <img src="../../../assets/img/img1.png" alt="">
                        <img src="../../../assets/img/img2.png" alt="">
                    </div>

                    <div>
                        <div class="cards">
                            <i class="bi bi-chat-right-quote"></i>
                            <h3>Check or leave Feedbacks</h3>
                            <p class="cards-p">Explore the valuable points of view of others that have shared the
                                journeys and experiences with you.</p>
                        </div>
                    </div>

                    <div class="photos">
                        <img src="../../../assets/img/img5.png" alt="">
                        <img src="../../../assets/img/img6.png" alt="">
                    </div>

                    <div class="cards">
                        <i class="bi bi-bookmark-heart"></i>
                        <h3>Save Your Favorite Items</h3>
                        <p class="cards-p">Bookmark posts for future trips or memes that u can always go and look back
                            in the
                            "favorites" section of your profile.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="features-1">
            <div class="row">
                <div class="col-7">
                    <h3> New Destiantions, New Experiences </h3>
                    <p> Our team strongly believes that not only is the destination important,
                        but equally <strong>so is the experience gained from the journey leading up to it</strong>.
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <i class="bi bi-car-front-fill"></i>
                            <h4>Adventure</h4>
                            <p> Go on thrilling adventures with a diverse community of like-minded individuals.</p>
                        </div>
                        <div class="col-6">
                            <i class="bi bi-people"></i>
                            <h4>Connect</h4>
                            <p>Connect with new people and build lasting friendships while exploring new places.</p>
                        </div>
                        <div class="col-6">
                            <i class="bi bi-images"></i>
                                <h4>Images</h4>
                                <p>Capture and preserve cherished memories with a diverse collection of images. </p>
                        </div>
                        <div class="col-6">
                            <i class="bi bi-person-fill-add"></i>
                            <h4>Follow</h4>
                            <p>Get the opportunity to follow each other and stay
                                updated about their latest posts at all times.</p>
                        </div>
                    </div>
                </div>
                <div class="col-5 d-flex justify-content-center align-items-center">
                    <div class="features-img-1">
                        <img src="../../../assets/img/img12.png" alt="hiking pitcure of Anna and Andrea">
                    </div>

                </div>
            </div>


        </section>


        <section class="faq-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="faq-container">
                        <div class="faq-title">
                            <h2>FAQ</h2>
                            <p>Find answers to common questions about using Uberly</p>
                        </div>
                        <div class="faq-questions">
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-1">
                                        <button class="faq-toggle" data-target="#faqCollapse-1">
                                            How do I provide a feedback to someone?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-1" class="faq-body">
                                        <p> When you visit their account, you will find a "feedback" section where you
                                            can add feedback for the user.
                                            Feel free to express your thoughts, share your experiences,
                                            and provide constructive criticism. Your feedback is valuable and can help
                                            the user improve.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-2">
                                        <button class="faq-toggle" data-target="#faqCollapse-2">
                                            What can i do as a Rider?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-2" class="faq-body">
                                        <p>Riders can discover new experiences by engaging with the Drivers' posts and
                                            participating in the community through comments, reactions, saving posts,
                                            and creating and sharing memes with fellow members!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-3">
                                        <button class="faq-toggle" data-target="#faqCollapse-3">
                                            What can i do as a Driver?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-3" class="faq-body">
                                        <p>Drivers have the ability to share posts that connect with fellow adventure
                                            enthusiasts
                                            (riders), engage with each other through comments, reactions, and saving
                                            posts</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-4">
                                        <button class="faq-toggle" data-target="#faqCollapse-4">
                                            Can I be both a Driver and a Rider?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-4" class="faq-body">
                                        <p> <strong>Of course!</strong> You have the flexibility to act as both a driver
                                            and a rider on Uberly whenever you choose.
                                            Simply sign up for your preferred role, and you can change your current role
                                            on your profile at any time. <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-5">
                                        <button class="faq-toggle" data-target="#faqCollapse-5">
                                            How do I report an issue?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-5" class="faq-body">
                                        <p>If you come across any problems while using Uberly, you have the option to
                                            report them via our website to our Admins or by emailing our team.
                                            We will then investigate the issue and take necessary action to resolve it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features-2">

        </section>

        <section class="cta">
            <div class="row w-100">
                <div class="col-6 d-flex flex-column justify-content-start align-items-start section-cta-info">
                    <div class="section-cta-info">
                        <h2> Ready to Join the Community?</h2>
                        <p> Experience exciting new experiences alongside people who share your interests. Enroll today!
                        </p>
                    </div>
                    <a [routerLink]="['/signup']" class="register"> Step in! </a>
                    <a [routerLink]="['/login']" class="login"> Login <i class="bi bi-arrow-up-right"></i> </a>
                </div>
                <div class="col-6 d-flex flex-column align-items-center section-cta-img">
                    <img src="../../../assets/img/fifth-text-bubble.png" alt="" style="width: 60%;">

                    <img src="../../../assets/img/sixth-text-bubble.png" alt="" style="width: 60%;">
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-info">
                <h2> Let's make it happen together.</h2>
                <div class="company-info">
                    <div class="logo">
                        <img src="../../../assets/img/logo completo.png" alt="">
                    </div>
                    <div class="primary-info">
                        <a href="https://www.linkedin.com/in/elena-kekic-/" target="_blank"> Linkedin <i
                                class="bi bi-arrow-up-right"></i> </a>
                        <a href="mailto:uberlyteam@gmail.com" target="_blank"> Email <i
                                class="bi bi-arrow-up-right"></i> </a>
                        <a (click)="scrollBackToTheTop()">Back to top <i class="bi bi-arrow-up-right"></i></a>
                    </div>

                    <hr>

                    <div class="secondary-info">
                        <a href="javascript:void(0);"> Phone : +39 321 87654 </a>
                        <a href="javascript:void(0);"> Privacy Policy</a>
                        <a href="javascript:void(0);"> Terms of Service</a>
                        <a href="javascript:void(0);"> Cookies Settings</a>
                    </div>
                    <p> © 2024 Uberly. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>


</body>