<body id="top">
    <div class="row">
        <div class="hero">
            <p> Your destination is just the <span>beginning</span>. Share with us your <span>journey</span>,
                because that's where the <span>magic</span> happens</p>
        </div>

        <section class="sub-hero">
            <div class="row">
                <div class="col-6">
                    <div class="cards">
                        <i class="bi bi-card-heading"></i>
                        <h3>Post about your Upcoming Travels</h3>
                        <p class="cards-p">Post updates and photos, along with tags, to inspire fellow
                            adventurers and
                            allow them to choose what they want to see!</p>
                    </div>
                    <div class="photos">
                        <img src="../../../assets/img/img3.png" alt="">
                        <img src="../../../assets/img/img4.png" alt="">
                    </div>
                    <div class="cards">
                        <i class="bi bi-calendar-check"></i>
                        <h3>Interact & Plan with Others</h3>
                        <p>Connect with fellow members and organize your next adventure together. <br>
                            The more people, the better!
                        </p>
                    </div>

                    <div class="photos">
                        <img src="../../../assets/img/img3.png" alt="">
                        <img src="../../../assets/img/img4.png" alt="">
                    </div>

                </div>
                <div class="col-6">
                    <div class="photos">
                        <img src="../../../assets/img/img9.png" alt="">
                        <img src="../../../assets/img/img2.png" alt="">
                    </div>

                    <div>
                        <div class="cards">
                            <i class="bi bi-chat-left-quote"></i>
                            <h3>Check or leave Feedbacks</h3>
                            <p>Explore the valuable points of view of others that have shared the
                                journeys and experiences with you.</p>
                        </div>
                    </div>

                    <div class="photos">
                        <img src="../../../assets/img/img7.png" alt="">
                        <img src="../../../assets/img/img9.png" alt="">
                    </div>

                    <div class="cards">
                        <i class="bi bi-bookmark-heart"></i>
                        <h3>Save Your Favorite Items</h3>
                        <p>Bookmark posts for future trips or memes that u can always go and look back in the
                            "favorites" section of your profile.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="faq-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="faq-container">
                        <div class="faq-title">
                            <h2>FAQ</h2>
                            <p>Find answers to common questions about using Uberly</p>
                        </div>
                        <div class="faq-questions">
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-1">
                                        <button class="faq-toggle" data-target="#faqCollapse-1">
                                            How do I provide a feedback to someone?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-1" class="faq-body">
                                        <p> When you visit their account, you will find a "feedback" section where you can add feedback for the user. 
                                            Feel free to express your thoughts, share your experiences,
                                             and provide constructive criticism. Your feedback is valuable and can help the user improve.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-2">
                                        <button class="faq-toggle" data-target="#faqCollapse-2">
                                           What can i do as a Rider?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-2" class="faq-body">
                                        <p>Riders can discover new experiences by engaging with the Drivers' posts and
                                             participating in the community through comments, reactions, saving posts, 
                                             and creating and sharing memes with fellow members!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-3">
                                        <button class="faq-toggle" data-target="#faqCollapse-3">
                                           What can i do as a Driver?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-3" class="faq-body">
                                        <p>Drivers have the ability to share posts that connect with fellow adventure enthusiasts
                                             (riders), engage with each other through comments, reactions, and saving posts</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-4">
                                        <button class="faq-toggle" data-target="#faqCollapse-4">
                                            Can I be both a Driver and a Rider?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-4" class="faq-body">
                                        <p> <strong>Of course!</strong> You have the flexibility to act as both a driver
                                            and a rider on Uberly whenever you choose.
                                            Simply sign up for your preferred role, and you can change your current role
                                            on your profile at any time. <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-questions">
                                <div class="faq" id="accordion">
                                    <div class="faq-header" id="faqHeading-5">
                                        <button class="faq-toggle" data-target="#faqCollapse-5">
                                            How do I report an issue?
                                        </button>
                                    </div>
                                    <div id="faqCollapse-5" class="faq-body">
                                        <p>If you come across any problems while using Uberly, you have the option to report them via our website to our Admins or by emailing our team. 
                                            We will then investigate the issue and take necessary action to resolve it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features">

        </section>
    
        <section class="cta">
    
        </section>
    
        <footer>
            <div class="footer-info">
                <h2> Let's make it happen together.</h2>
                <div class="company-info">
                    <div class="logo">
                        <img src="../../../assets/img/logo completo.png" alt="">
                    </div>
                    <div class="primary-info">
                        <a href="https://www.linkedin.com/in/elena-kekic-/" target="_blank"> Linkedin <i
                                class="bi bi-arrow-up-right"></i> </a>
                        <a href="mailto:uberlyteam@gmail.com" target="_blank"> Email <i
                                class="bi bi-arrow-up-right"></i> </a>
                                <a (click)="scrollBackToTheTop()">Back to top <i class="bi bi-arrow-up-right"></i></a>
                    </div>

                    <hr>

                    <div class="secondary-info">
                        <a href="javascript:void(0);"> Phone : +39 321 87654 </a>
                        <a href="javascript:void(0);"> Privacy Policy</a>
                        <a href="javascript:void(0);"> Terms of Service</a>
                        <a href="javascript:void(0);"> Cookies Settings</a>
                    </div>
                    <p> © 2024 Uberly. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>


</body>