<body>
    <header>
        <nav class="flex">
            <ul class="primary-navigation flex list-unstyled align-items-center" data-visible="false">

                <li *ngIf="user">
                    <a [routerLink]="['/home']" routerLinkActive="active">
                        <i class="bi bi-house"></i> </a>
                </li>
                <li *ngIf="user">
                    <a [routerLink]="['/profile', user.user.id]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <i class="bi bi-person-fill"></i>
                    </a>
                </li>
                <li *ngIf="user">
                    <a [routerLink]="['/explore-page']" routerLinkActive="active"><i class="bi bi-search"></i> </a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="icons-explore">
            <p [routerLink]="['search']" routerLinkActive="active-link">Search</p>
        <p [routerLink]="['for-you']" routerLinkActive="active-link">For you</p>
        <p [routerLink]="['memes']" routerLinkActive="active-link">Pictures</p>
        </div>
        <router-outlet></router-outlet>
    </section>
</body>