<header class="primay-header flex justify-content-between">
    <div>
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><img
                src="assets/img/icon-logo.png" alt="Uberly Logo" class="logo"></a>
    </div>

    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
        <span class="sr-only"></span>
      </button>
      <nav class="flex">
        <ul class="primary-navigation flex list-unstyled" data-visible="false">
            <li *ngIf="user">
                    <a [routerLink]="['home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        HOME</a>
                </li>
            <li *ngIf="!user">
                <a [routerLink]="['community']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    COMMUNITY</a>
            </li>
            <li *ngIf="user">
                <a [routerLink]="['/profile', user.user.id]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    PROFILE
                </a>
            </li>
            
            <li *ngIf="!user" >
                <a [routerLink]="['login']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    LOGIN </a>
            </li>
            <li *ngIf="!user" >
                <a [routerLink]="['signup']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    STEP IN!</a>
            </li>
             <li *ngIf="user" (click)="logout()">
                    <a>LOGOUT</a>
                </li>
        </ul>
    </nav>
</header>