<body>

     <!-- SPINNER -->
     <div id="loader">
        <div class="loader"></div>
    </div>

    <!-- SEARCH BODY -->
    <div class="container-fluid body">

        <div class="group">
            <i class="bi bi-arrow-return-right icon"></i>
            <input class="input" type="search" placeholder="What are you searching for?" [(ngModel)]="searching"
                (input)="filter()" />
        </div>
        <div class="posts">
            <ng-container *ngIf="filteredUsers && filteredUsers.length > 0; else noPosts">
                <div class="recent-posts" *ngFor="let user of filteredUsers">
                    <div class="container-header-posts">
                        <img [src]="user.pictureProfile" [alt]="user.name + ' ' + user.surname + ' profile picture'">
                        <div class="container-fluid d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center align-items-start flex-column">
                                    <a [routerLink]="['/profile', user.id]">{{ user.username
                                        }} </a>
                                    <p>Role: {{ user.role }}</p>
                                </div>
                                <div class="col-6 d-flex justify-content-end align-items-center">
                                    <p class="m-0 pe-3">
                                       {{user.name}} {{user.surname}}  
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>
            <ng-template #noPosts>
                <div class="no-posts">
                    <p>No users where found </p>
                    <p>Are you sure you know who are you searching for? 🤨</p>
                </div>
            </ng-template>
        </div>
    </div>
</body>