<body>
    <h1 class="counter">0</h1>

    <div class="overlay">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="containerr">
        <div class="header">
            <div class="h1">U</div>
            <div class="h1">b</div>
            <div class="h1">e</div>
            <div class="h1">r</div>
            <div class="h1">l</div>
            <div class="h1">y</div>
        </div>
        <div class="sub-header">
            <p> You pick your next adventure </p>
        </div>
        <div class="container-1">
            <div class="roww" id="row-1">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-0.jpg" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="roww" id="row-2">
                <div class="col-1"></div>
                <div class="col-1">
                    <div class="img-container left">
                        <img src="../../../assets/img/hero-1.png" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
            </div>
            <div class="roww" id="row-3">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-2.png" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="roww" id="row-4">
                <div class="col-1"></div>
                <div class="col-1">
                    <div class="img-container left">
                        <img src="../../../assets/img/hero-3.png" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
            </div>
            <div class="roww" id="row-5">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-6.png" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
                <div class="col-1"> </div>
            </div>
            <div class="roww" id="row-6">
                <div class="col-1"> </div>
                <div class="col-1"> 
                    <div class="img-container left">
                        <img src="../../../assets/img/hero-5.png" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
            </div>
            <div class="roww" id="row-7">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-4.png" alt="">
                        <p> Image alt </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

    </div>
</body>