<body>
    <section class="section">
        <section class="block" id="first">
            <p> Section one </p>
        </section>

        <section class="block" id="second">
            <p> Section two </p>
        </section>
        <section class="block" id="third">
            <p> Section three </p>
        </section>
        <section class="block" id="fourth">
            <p> Section fourth </p>
        </section>
        <section class="block" id="fifth">
            <p> Section fifth </p>
        </section>
        <section class="block" id="sixth">
            <p> Section sixth </p>
        </section>
    </section>
</body>