<body>
    <h1 class="counter">0</h1>

    <div class="overlay">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="containerr" id="top">
        <div class="header">
            <div class="h1">U</div>
            <div class="h1">b</div>
            <div class="h1">e</div>
            <div class="h1">r</div>
            <div class="h1">l</div>
            <div class="h1">y</div>
        </div>
        <div class="sub-header">
            <a class="sub-header-p"> You pick your next Adventure <i class="bi bi-arrow-down"></i> </a>
        </div>
        <div class="container-1">
            <div class="roww" id="row-1">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-0.jpg" alt="">
                        <p> road trip </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="roww" id="row-2">
                <div class="col-1"></div>
                <div class="col-1">
                    <div class="img-container left">
                        <img src="../../../assets/img/hero-1.png" alt="">
                        <p> group hangout </p>
                    </div>
                </div>
            </div>
            <div class="roww" id="row-3">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-2.png" alt="">
                        <p> new friends </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="roww" id="row-4">
                <div class="col-1"></div>
                <div class="col-1">
                    <div class="img-container left">
                        <img src="../../../assets/img/hero-3.png" alt="">
                        <p> rainy car rides </p>
                    </div>
                </div>
            </div>
            <div class="roww" id="row-5">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-6.png" alt="">
                        <p> coffee and chatting </p>
                    </div>
                </div>
                <div class="col-1"> </div>
            </div>
            <div class="roww" id="row-6">
                <div class="col-1"> </div>
                <div class="col-1">
                    <div class="img-container left">
                        <img src="../../../assets/img/hero-5.png" alt="">
                        <p> new photos to share </p>
                    </div>
                </div>
            </div>
            <div class="roww" id="row-7">
                <div class="col-1">
                    <div class="img-container right">
                        <img src="../../../assets/img/hero-4.png" alt="">
                        <p> night out </p>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <section class="cta">
                <div class="row w-100">
                    <div class="col-6 d-flex flex-column justify-content-start align-items-start section-cta-info">
                        <div class="section-cta-info">
                            <h2> Join The Uberly Community!</h2>
                            <p> Buckle up and step into this world or login to embark on
                                exciting adventures. </p>
                        </div>
                        <a [routerLink]="['signup']" class="register"> Step in! </a>
                        <a [routerLink]="['login']" class="login"> Login <i class="bi bi-arrow-up-right"></i> </a>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center section-cta-img">
                            <img src="../../../assets/img/first-text-bubble.png" alt="" style="width: 60%;">

                            <img src="../../../assets/img/second-text-bubble.png" alt="" style="width: 60%;">
                    </div>
                </div>
            </section>
            <section class="features">
                <div class="section-feature">
                    <h2 class="section-features-h2"> Discover our features </h2>
                </div>
                <div class="card">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-check-all" viewBox="0 0 16 16" id="heart">
                            <linearGradient id="gradientColor">
                                <stop offset="5%" stop-color="#ff6d1f"></stop>
                                <stop offset="95%" stop-color="#ff6d1f"></stop>
                            </linearGradient>
                            <g>
                                <path
                                    d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                            </g>
                        </svg>
                    </div>
                    <p class="title">Share Your Adventures </p>
                    <p class="text">Connect with new people, share posts, and create unforgettable memories together.
                    </p>
                </div>
                <div class="card shadow-lg">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-check-all" viewBox="0 0 16 16" id="heart">
                            <linearGradient id="gradientColor">
                                <stop offset="5%" stop-color="#ff6d1f"></stop>
                                <stop offset="95%" stop-color="#ff6d1f"></stop>
                            </linearGradient>
                            <g>
                                <path
                                    d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                            </g>
                        </svg>
                    </div>
                    <p class="title">Secure and Reliable Rides </p>
                    <p class="text">Join our community with a simple registration process and enjoy secure and reliable
                        rides.</p>
                </div>
                <div class="card">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-check-all" viewBox="0 0 16 16" id="heart">
                            <linearGradient id="gradientColor">
                                <stop offset="5%" stop-color="#ff6d1f"></stop>
                                <stop offset="95%" stop-color="#ff6d1f"></stop>
                            </linearGradient>
                            <g>
                                <path
                                    d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                            </g>
                        </svg>
                    </div>
                    <p class="title">Opportunities to Drive and Ride</p>
                    <p class="text">Experience the freedom of being both a driver and a rider in our vibrant community.
                    </p>
                </div>
                <div class="card">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-check-all" viewBox="0 0 16 16" id="heart">
                            <linearGradient id="gradientColor">
                                <stop offset="5%" stop-color="#ff6d1f"></stop>
                                <stop offset="95%" stop-color="#ff6d1f"></stop>
                            </linearGradient>
                            <g>
                                <path
                                    d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                            </g>
                        </svg>
                    </div>
                    <p class="title">Explore Our Website</p>
                    <p class="text">Register easily and share posts or memes with other users.
                    </p>
                </div>
            </section>
            <section class="testimonials">
                <div class="comment">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="text text-center">
                        <p>
                            "I absolutely love using Uberly! It has allowed me to meet new people and go on exciting
                            adventures. Highly recommended!"
                        </p>
                    </div>
                </div>
                <div class="user">
                    <div class="pfp">
                        <img src="../../../assets/img/random-dude.png" alt="Marco Rossi profile picture">
                    </div>
                    <div class="info-user">
                        <p class="name"> Marco Rossi </p>
                        <p class="role"> Role: Driver of Uberly </p>
                    </div>
                </div>
            </section>

            <footer>
                <div class="footer-info">
                    <h2> Let's make it happen together.</h2>
                    <div class="company-info">
                        <div class="logo">
                            <img src="../../../assets/img/logo completo.png" alt="">
                        </div>
                        <div class="primary-info">
                            <a href="https://www.linkedin.com/in/elena-kekic-/" target="_blank"> Linkedin <i
                                    class="bi bi-arrow-up-right"></i> </a>
                            <a href="mailto:uberlyteam@gmail.com" target="_blank"> Email <i
                                    class="bi bi-arrow-up-right"></i> </a>
                                    <a (click)="scrollBackToTheTop()"> Back to top <i class="bi bi-arrow-up-right"></i></a>
                        </div>

                        <hr>

                        <div class="secondary-info">
                            <a href="javascript:void(0);"> Phone : +39 321 87654 </a>
                            <a href="javascript:void(0);"> Privacy Policy</a>
                            <a href="javascript:void(0);"> Terms of Service</a>
                            <a href="javascript:void(0);"> Cookies Settings</a>
                        </div>
                        <p> © 2024 Uberly. All rights reserved.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>